@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #f0f0f0;
    overflow: hidden;
    animation: loader 1300ms ease-in-out;

}

@keyframes loader {
    0% {
        transform: translateY(300px);
        opacity: 0.4;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
